<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.xueyao.mapper.CustomPageMapper">
    <select id="findAll" resultType="me.xueyao.domain.vo.CustomPagePageVo">
        SELECT A.*,B.commentNum as articleNum FROM PAGE A
           LEFT JOIN (SELECT category_id,count(*) as postNum FROM COMMENT GROUP BY category_id) AS B ON A.ID = B.page_id
    </select>
</mapper>