<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.xueyao.mapper.TagMapper">
    <select id="findAll" resultType="me.xueyao.domain.vo.TagPageVo">
        SELECT A.*,B.postNum FROM TAG A
              LEFT JOIN (SELECT tag_id,count(*) as postNum FROM POST  GROUP BY tag_id) AS B ON A.ID = B.tag_id
    </select>
</mapper>